@import "tailwindcss";

@font-face {
  font-family: "aksara";
  src: url("/public/fonts/AksaraAstral-Regular.otf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Rustic Delight";
  src: url("/public/fonts/Rustic\ Delight.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roadster";
  src: url("/public/fonts/ROADSTER.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Diary story";
  src: url("/public/fonts/Diary\ Story.otf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@theme {
  --font-aksara: "aksara", sans-serif;
  --font-rusticDelight: "Rustic Delight", sans-serif;
  --font-roadster: "Roadster", sans-serif;
  --font-diaryStory: "Diary story", sans-serif;
}

.delay1 { animation-delay: .3s; }
.delay2 { animation-delay: .5s; }
.delay3 { animation-delay: .8s; }
.delay4 { animation-delay: 1s; }
.delay5 { animation-delay: 2.2s; }

.fade-up {
  opacity: 0;
  transform: translate3d(0, 30px, 0);
  will-change: transform, opacity;
  animation: revealUp 0.8s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}

@keyframes revealUp {
  from {
    opacity: 0;
    transform: translate3d(0, 30px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.frappe-reveal {
  opacity: 0;
  transform: translate3d(0, 30px, 0) scale(.95);
  will-change: transform, opacity;
  animation: frappeReveal 1s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}

@keyframes frappeReveal {
  0% {
    opacity: 0;
    transform: translate3d(0, 30px, 0) scale(.95);
  }

  60% {
    opacity: 0;
    transform: translate3d(0, 30px, 0) scale(.95);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(1);
  }
}
