---
import Layout from "../layouts/Layout.astro";
import Frappe3D from "./Frappe3D.vue";

---

<Layout>
	<header class="h-screen">
		<div class="flex flex-col justify-between items-center min-h-full">
			<h1 class="text-center pt-20">
				<p class="fade-up font-roadster text-6xl" style="animation-delay: .4s; color: #E79AC5;">SIEMPRE ES</p>
				<p class="fade-up font-roadster text-6xl text-blue-300"
				style="animation-delay: .6s; color: #9FC5F8;">BUEN MOMENTO</p>
				<p class="fade-up font-diaryStory text-6xl text-amber-200" style="animation-delay: .9s; color: #EBCB6E;">{"<Para un>"}</p>
				<p class="fade-up font-rusticDelight  font-black text-6xl text-amber-700" style="animation-delay: 1.2s; color: #6B4F3A;">FRAPPE</p>
			</h1>
			
				<img class="w-80 frappe-reveal" style="animation-delay: 1.2s" src="/src/assets/lilicoffe square transparent.png"/>
		</div>
	</header>
	<main class="h-screen bg-purple-600">

	</main>
</Layout>