---
import "../styles/global.css";
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/public/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/public/favicon-16x16.png">
		<meta name="generator" content={Astro.generator} />
		<title>Lili Coffee</title>
	</head>
	<body>
		<nav class="fixed top-0 left-0 flex w-full h-6 bg-slate-900">
			<ul>
				<li class="text-white text-md font-bold">Inicio</li>
			</ul>
		</nav>
		<slot />
	</body>
</html>

<style>

</style>
